# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.TMP

# User data
DataForBot.txt
*.db
Tasks and plans.txt

# Visual Studio files 
.vs/
x64/
x86/
Debug/
Release/
out/
CMakeUserPresets.json

# debug information files
*.dwo
